page-login {
	.item-md, .item-ios, .item-wp {
	  padding-left: 0px;
	}
	button {
		box-shadow: none;
	}
  .description {
    font-size:4rem;
    font-family: 'Alex Brush', cursive;
    color: color($colors, primary);
    margin: 0;
    margin-top: 2.5rem;
  }
}