<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Buat Akun</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="cream-background">
  
  <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
		<ion-row>
			<ion-col>
				<ion-list>
					<ion-item class="cream-background" [ngClass]="{'error-border':!registerForm.controls.name.valid && registerForm.controls.name.touched}">
						<ion-label floating>Nama</ion-label>
						<ion-input formControlName="name" type="text" required ></ion-input>
					</ion-item>
          <ion-item color="danger" class="form-error" *ngIf="registerForm.controls.name.hasError('required') && registerForm.controls.name.touched">
            <p>Nama harus diisi</p>
          </ion-item>
					<ion-item class="cream-background" [ngClass]="{'error-border':!registerForm.controls.gender.valid && registerForm.controls.gender.touched}">
						<ion-label floating>Jenis kelamin</ion-label>
            <ion-select formControlName="gender" required>
              <ion-option value="1">Laki-laki</ion-option>
              <ion-option value="0">Perempuan</ion-option>
            </ion-select>
					</ion-item>
          <ion-item color="danger" class="form-error" *ngIf="registerForm.controls.gender.hasError('required') && registerForm.controls.gender.touched">
            <p>Jenis kelamin harus diisi</p>
          </ion-item>
					<ion-item class="cream-background" [ngClass]="{'error-border':!registerForm.controls.phone.valid && registerForm.controls.phone.touched}">
						<ion-label floating>No Handphone</ion-label>
            <ion-input formControlName="phone" type="number" required ></ion-input>
					</ion-item>
          <ion-item color="danger" class="form-error" *ngIf="registerForm.controls.phone.hasError('required') && registerForm.controls.phone.touched">
            <p>No Handphone harus diisi</p>
          </ion-item>
					<ion-item class="cream-background" [ngClass]="{'error-border':!registerForm.controls.email.valid && registerForm.controls.email.touched}">
						<ion-label floating>Email</ion-label>
						<ion-input formControlName="email" type="email" required ></ion-input>
					</ion-item>
          <ion-item color="danger" class="form-error" *ngIf="registerForm.controls.email.hasError('required') && registerForm.controls.email.touched">
            <p>Email harus diisi</p>
          </ion-item>
          <ion-item color="danger" class="form-error" *ngIf="registerForm.controls.email.hasError('email') && registerForm.controls.email.touched">
            <p>Format email tidak valid</p>
          </ion-item>
					<ion-item class="cream-background" [ngClass]="{'error-border':!registerForm.controls.password.valid && registerForm.controls.password.touched}">
						<ion-label floating>Password</ion-label>
						<ion-input formControlName="password" type="password" required show-password></ion-input>
					</ion-item>
          <ion-item color="danger" class="form-error" *ngIf="registerForm.controls.password.hasError('required') && registerForm.controls.password.touched">
            <p>Password harus diisi</p>
          </ion-item>
					<ion-item class="cream-background" [ngClass]="{'error-border':!registerForm.controls.confirm_password.valid && registerForm.controls.confirm_password.touched}">
						<ion-label floating>Konfirmasi Password</ion-label>
						<ion-input formControlName="confirm_password" type="password" required show-password></ion-input>
					</ion-item>
          <ion-item color="danger" class="form-error" *ngIf="registerForm.controls.confirm_password.hasError('required') && registerForm.controls.confirm_password.touched">
            <p>Konfirmasi Password harus diisi</p>
          </ion-item>
          <ion-item color="danger" *ngIf="registerForm.controls.confirm_password.touched && registerForm.hasError('mismatchedPasswords') && registerForm.controls.password.valid">
            <ion-label no-margin stacked>Passwords do not match</ion-label>
          </ion-item>
          <ion-item class="cream-background" [ngClass]="{'error-border':!registerForm.controls.relation_email.valid && registerForm.controls.relation_email.touched}">
						<ion-label floating>Email Pasangan</ion-label>
						<ion-input formControlName="relation_email" type="email" required ></ion-input>
					</ion-item>
          <ion-item color="danger" class="form-error" *ngIf="registerForm.controls.relation_email.hasError('required') && registerForm.controls.relation_email.touched">
            <p>Email harus diisi</p>
          </ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<button ion-button color="primary" round full type="submit" [disabled]="!registerForm.valid" >REGISTER</button>
			</ion-col>
		</ion-row>
	</form>

</ion-content>
