<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Lupa Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="cream-background">
  
  <form autocomplete="off" [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)">
		<ion-row>
			<ion-col>
				<ion-list>
					<ion-item class="cream-background" [ngClass]="{'error-border':!forgotForm.controls.email.valid && forgotForm.controls.email.touched}">
						<ion-label floating>Email</ion-label>
						<ion-input formControlName="email" type="text" required ></ion-input>
					</ion-item>
          <ion-item color="danger" class="form-error" *ngIf="forgotForm.controls.email.hasError('required') && forgotForm.controls.email.touched">
            <p>Email harus diisi</p>
          </ion-item>
          <ion-item color="danger" class="form-error" *ngIf="!forgotForm.controls.email.hasError('required') && forgotForm.controls.email.hasError('email') && forgotForm.controls.email.touched">
            <p>Format email tidak valid</p>
          </ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<button ion-button color="primary" round full type="submit" [disabled]="!forgotForm.valid" >LUPA PASSWORD</button>
			</ion-col>
		</ion-row>
	</form>

</ion-content>
