page-notification-modal {
  .notification-slides {
    height: auto;
    z-index: -10;

    .swiper-pagination {
      .swiper-pagination-bullet {
        background: color($colors, white);
      }
      .swiper-pagination-bullet-active {
        background: color($colors, primary);
      }
    }
  }
  .item-md, .item-ios, .item-wp {
	  padding-left: 0px;
  }
  .card-title {
    position: absolute;
    top: 13%;
    z-index: 100;
    font-size: 2rem;
    width: 85%;
    left: 0;
    text-align: center;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: color($colors, primary);
    font-family: "Demo Coneria Script";
    .elipse {
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 1.5rem;
    }
  }
  .list {
    .item {
      padding: 0px;
      .label-detail {
        font-size: 1.5rem;
      }
    }
  }
  .page-content {
    padding: 2rem;
    p {
      line-height: 3.2rem;
      font-size: 1.6rem;
      text-align: justify;
    }
  }
}
