page-profile {
  .content-md {
    .profile-banner {
      margin-bottom: 7.5rem;
    }
    .counting-down-container {
      .counting-number {
        height: 8rem;
        padding-top: 1.3rem;
      } 
    }
  }
  .card {
    border-radius: 0;
    margin: 0;
    margin-bottom: 2rem;
    width: 100vw;
    box-shadow: none;
    height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    .card-subtitle {
      margin-top: 20rem;
      .icon-upload {
        font-size: 4rem;
      }
    }
  }
  .content {
    padding: 1.3rem;
    font-size: 1em;
    color: color($colors, primary);
  }
  .counting-down-container {
    background: color($colors, secondary);
    padding: 0.8rem;
    margin-top: -20px;
    border-radius: 0.7rem;
    .counting-number {
      font-size: 3rem;
      background: url("../assets/imgs/calendar_icon.png") no-repeat;
      background-size: 100% 100%;
      height: 6rem;
      display:flex;
      justify-content:center;
      padding-top: 1rem;
      align-items:center;
      font-family: "Centaur";
    }
    .counting-label {
      font-size: 1.5rem;
      font-family: "Centaur";
    }
  }
  
  .detail-container {
    background: color($colors, secondary);
    padding: 0.8rem;
    margin-top: 10px;
    border-radius: 0.7rem;
    .detail-title {
      font-size: 3.5rem;
      font-family: 'Rochester', cursive !important;
    }
    .detail-subtitle {
      font-size: 2rem;
      font-family: "Centaur";
    }
  }

  .alert-container {
    background: color($colors, info);
    padding: 0.8rem;
    margin-top: 10px;
    border-radius: 0.7rem;
    .detail-title {
      font-size: 3.5rem;
      font-family: 'Rochester', cursive !important;
    }
    .detail-subtitle {
      font-size: 2rem;
      color: color($colors, darkinfo);
      font-family: "Centaur";
    }
  }
  
}
