page-notification {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      box-shadow: none;
    }

    .card-title {
      position: absolute;
      bottom: 35%;
      font-size: 3rem;
      width: 85%;
      left: 0;
      right: 0;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-weight: bold;
      color: color($colors, primary);
      font-family: "Demo Coneria Script";
      .elipse {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 1.5rem;
      }
    }

    .card-subtitle {
      font-size: 1.3em;
      position: absolute;
      bottom: 12%;
      width: 100%;
      color: color($colors, primary);
      font-family: "Centaur";
    }

  }
}
