page-notification {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      bottom: 23%;
      font-size: 2.3rem;
      width: 100%;
      font-weight: bold;
      color: color($colors, white);
      text-transform: uppercase;
    }

    .card-subtitle {
      font-size: 1.3em;
      position: absolute;
      bottom: 12%;
      width: 100%;
      color: color($colors, white);
      text-transform: uppercase;
    }

  }
}
