page-cost {
  .scroll-content, .fixed-content {
    padding: 0.5rem 0.3rem;
    color: color($colors, dark);
  }
  .item-md, .item-ios, .item-wp {
	  padding-left: 0px;
	}
  .card {
    border: 1px solid color($colors, secondary);
    background: color($colors, secondary);
    color: color($colors, primary);
    border-radius: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: "Centaur";
    box-shadow: none;
    -webkit-box-shadow: none;
    .card-title {
      font-size: 2.2rem;
      margin-bottom: 0.5rem;
    }
    .card-subtitle {
      font-size: 2rem;
    }
  }
  ion-footer {
    padding: 0.8rem;
    padding: 0.8rem;
    font-size: 1.5em;
    font-family: "Centaur";
    color: color($colors, primary);
    .grid-col {
      .grid-row-grand-cost {
        border: 1px solid color($colors, secondary);
        background: color($colors, secondary);
        border-radius: 0.2rem;
        padding: 5px 10px;
      }
    }
  }
}
