page-welcome {
  .welcome {
    margin-top:3rem;
    font-size:4rem;
    font-family: 'Dancing Script', cursive;
  }
  .welcome-description {
    margin-top:2.5rem;
    font-size:2.6rem;
    font-family: 'Dancing Script', cursive;
  }
}
