page-procedure {
  .card {
    border: 1px solid color($colors, primary);
    border-radius: 2rem;
    padding: 1.5rem;
    color: color($colors,  primary);
    font-family: "Centaur";
    .card-title {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
    .card-subtitle {
      font-size: 1.5rem;
    }
  }
}
