page-procedure {
  .card {
    border: 1px solid color($colors, primary);
    border-radius: 1.5rem;
    padding: 2.8rem;
    color: color($colors,  primary);
    font-family: "Demo Coneria Script";
    .card-title {
      font-size: 1.8rem;
      text-transform: none;
    }
  }
}
