page-static {
  .item-md, .item-ios, .item-wp {
	  padding-left: 0px;
	}
  .page-title {
    font-size: 2.2rem;
    margin-top: 2rem;
  }
  .page-content {
    p {
      line-height: 3.2rem;
      font-size: 1.8rem;
    }
  }
  
}
